# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# Virtual environment
nlp/

# VS Code settings (optional if you don’t want them on GitHub)
.vscode/

# Jupyter checkpoints
**/.ipynb_checkpoints/

# # Data files (optional, if too large)
# data/
# *.csv

# Powershell scripts
*.ps1

# Model folders
**/models/

# Model weights
*.bin
*.pt
*.pth
*.safetensors