# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# Virtual environment
nlp/

# VS Code settings (optional if you don’t want them on GitHub)
.vscode/

# Jupyter checkpoints
**/.ipynb_checkpoints/

# # Data files (optional, if too large)
# data/
# *.csv

# Powershell scripts
*.ps1

# Model folders
**/models/

# Model weights
*.bin
*.pt
*.pth
*.safetensors

# Folders & Files
HuggingFace LLM Course/Chapter5 -  The HuggingFace Datasets library/5.3  Time to slice and dice/*jsonl
HuggingFace LLM Course/Chapter5 -  The HuggingFace Datasets library/5.3  Time to slice and dice/drug-reviews/

# Private files
*_private.txt

